#actions_list{
	display: none;
	border-left: dotted red;
	margin-left: 20px;
	padding-left: 10px;
}
#show_hide{
	display: inline-block;
	color: #000;
	cursor: pointer;
	text-shadow: -2px 2px 2px black;
	transition: 0.2s;
}
#show_hide:hover{
	color: #373;
	transition: 0.2s;
}
.st_disc_size{
	text-align: center;
	color: red;
}
.stock{
	border-bottom: 3px dotted;
}