#basket{
  margin: auto;
  width: 50%;
  background-color: white;
  padding: 1%;
  overflow: hidden;
  transition: 1;
}
.prod_in_basket{
  display: flex;
  border-bottom: 1px dotted;
  padding: 1%;
}

.b_text{
  display: none;
}
.tobasket_hr{
  pointer-events: none;
  cursor: default;
}
.prod_image{
  pointer-events: none;
  cursor: default;
  float: left;
  display: block;
  margin-right: 10px;
  width: 10%;
  border-radius: 10px;
}
.product{
  width: 70%;
}
.prod_name{
  color: black;
  transition: 0.1s;
  text-decoration: none;
  font-weight: bold;
  font-size: 120%;
  pointer-events: none;
  cursor: default;
}
p.prod_desc{
  display: none;
}
.prod_text{
  width: 75%;
}
.buy_button {
  display: inline;
  margin: auto;
  padding: auto;
  width: auto;
  background: #fff0;
  border: none;
  float: right;
}